.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;}

.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left}

.maintable {
    width: 100%;}
.leftcol {
    width: 35%;
}
.rigthcol{
    width: 65%;
}



